body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#293773+0,773ba7+33,9b47a0+66,ee7ca2+100 */
    background: rgb(41, 55, 115);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(41, 55, 115, 1) 0%, rgba(119, 59, 167, 1) 33%, rgba(155, 71, 160, 1) 66%, rgba(238, 124, 162, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(41, 55, 115, 1) 0%, rgba(119, 59, 167, 1) 33%, rgba(155, 71, 160, 1) 66%, rgba(238, 124, 162, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(41, 55, 115, 1) 0%, rgba(119, 59, 167, 1) 33%, rgba(155, 71, 160, 1) 66%, rgba(238, 124, 162, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#293773', endColorstr='#ee7ca2', GradientType=0);
    /* IE6-9 */
}